<ion-header>
  <ion-toolbar color="secondary">
    <ion-title text-center>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/history.jpg"></ion-img>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/logo.jpg"></ion-img>
    <ion-card-header>      
      <ion-card-title color="secondary">Bhilwara Infotechnology LTD Head Quarters</ion-card-title>
      <ion-card-subtitle>Who we are</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.</p>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
